
/* .custom-paragraph {
    margin-left: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
  } */
  
  .custom-blockquote {
    margin-left: 30px;
    font-style: italic;
    border-left: 4px solid #ccc;
    padding-left: 20px;
    color: #555;
  }